@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l6grkk');
  src:  url('fonts/icomoon.eot?l6grkk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l6grkk') format('truetype'),
    url('fonts/icomoon.woff?l6grkk') format('woff'),
    url('fonts/icomoon.svg?l6grkk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bx_lock-alt:before {
  content: "\e900";
}
.icon-arrows-right:before {
  content: "\e901";
}
.icon-bx_trash-alt:before {
  content: "\e902";
}
.icon-bx-user:before {
  content: "\e903";
}
.icon-settings:before {
  content: "\e904";
}
.icon-bx_plus:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-bx-log-out:before {
  content: "\e908";
}
