/world
www/js-gen
www/js-bundles
node_server/js_server
*.obj
*.mtl
*.exe
*.bak
.idea/
.vs/
.vscode
*.sqlite3
*.BASE.*
*.LOCAL.*
*.REMOTE.*
node_modules
package-lock.json
.DS_Store
*.schematic
*.schem
www/js/**/*
www/resource_packs/base/blocks.json
www/resource_packs/base/textures/*.*
node_server/assets-compiler/resource-packs/
node_server/tmp
www/media/models/player_skins/u
www/media/music
www/resource_packs/bbmodel/textures/*.png
www/resource_packs/bbmodel/textures/*.jpg
www/resource_packs/bbmodel/textures/*.jpeg
www/resource_packs/bbmodel/*.json
www/data/bbmodel