.flex0 {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-start {
    justify-content: flex-start;
}

h3 {
    text-transform: capitalize;
    text-align: center;
}

/* NEW DESIGN */

#main-menu {
    align-items: center;
    width: 100%;
    z-index: 4;
    position: relative;
}

h4 {
    font-size: 28px;
    font-weight: normal;
    margin: 0.5em 0;
    text-align: center;
}

.cpointer {
    cursor: pointer;
}

form {
    .flex0;
    max-width: none;
    justify-content: center;
    border-radius: @border-radius;
}

.form-content, .form-title {
    padding: 0.3em .5em;
    border-radius: 5px;
}

.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        width: 100%;
    }
}

.form-normal {
    background-color: rgba(100, 100, 100, 1);
    padding: 1em;
    border-radius: .5em;
}

.form-profile {
    font-size: 20px;
    background: rgba(34, 25, 65, 0.5);
    border-radius: 5px;
    width: 100%;
    height: fit-content;
}

.form-title {
    background: rgba(34, 25, 65, 0.5);
    padding: 0.3em .5em;
}

input[type="text"], input[type="password"] {
    font-family: Ubuntu;
}

.btn2 {
    font-size: 16px;
    line-height: 1.3em;
    text-shadow: #3f3f3f 1px 1px 0px;
    transition: background-color .3s;
    display: inline-flex;
    color: white;
    text-decoration: none;
    padding: .5em .8em;
    align-items: center;
    border-radius: .5em;
    border-top: 3px solid;
    border-bottom: 3px solid;
    background: #7289da !important;
    border-top-color: #91a3e5 !important;
    border-bottom-color: #526cc9 !important;
    &.btn-default:hover {
        transition: background-color .3s;
        background: #5c6eae !important;
    }
    &.btn-success {
        background: #3bb464 !important;
        border-top-color: #4bc774 !important;
        border-bottom-color: #319953 !important;
        &:hover {
            transition: background-color .3s;
            background: #3a8353 !important;
        }
    }
    &.btn-action {
        background: rgb(235, 232, 232) !important;
        border-top-color: rgb(255, 255, 255) !important;
        border-bottom-color: rgb(230, 230, 230) !important;
        color: #333;
        text-shadow: #c0c0c0 2px 2px 0px;
        line-height: 1;
        &:hover {
            transition: background-color .3s;
            background: #fff !important;
        }
    }
}

canvas {
    background: #000;
    font-family: UbuntuMono-Regular;
}

button {
    cursor: pointer;
    z-index: 2;
    transition: background-color .3s;
    width: 100%;
    position: relative;
    margin: 0;
    margin-bottom: .5em;
    color: white;
    box-sizing: border-box;
    text-shadow: none;
    box-shadow: none;
    outline: none;
    font-family: Ubuntu;
    font-size: 22px;
    padding: 0.5em 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    white-space: nowrap;
    border-width: 2px;
    border: 2px solid transparent;
    width: auto;
    background-color: #543cba;
    border-radius: @border-radius;
    position: relative;
    &:not(.btn-round) {
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 100%, 20px 100%, 0 calc(100% - 20px));
        &::before {
            content: '';
            .transittion_all;
            // clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 100%, 20px 100%, 0 calc(100% - 20px));
            background-color: #ffffff22;
            border-color: transparent;
            border-radius: @border-radius;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    &:hover:not(:active) {
        transition: background-color .3s;
        background-image: none;
        color: white;
    }
    &:hover:not(:active) {background: #6f4eff;}
    &:active {background: darken(#6f4eff, 20%); transition: background-color .3s;}
    &.btn-danger {
        background: #B7173D;
        &:hover:not(:active) {background: #d81845;}
        &:active {background: darken(#d81845, 20%);}
    }
    &.btn-main {
        background: #049650;
        &:hover:not(:active) {background: #09dc77;}
        &:active {background: darken(#09dc77, 20%);}
    }
    &.btn-secondary {
        background: #972e7f;
        &:hover:not(:active) {background: #c34fa9;}
        &:active {background: darken(#c34fa9, 20%);}
    }
    &.btn-warning {
        background: #fcaa6d;
        &:hover:not(:active) {background: #e09679;}
        &:active {background: darken(#e09679, 20%);}
    }
}

.btn-small {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 24px;
    margin: 0;
    line-height: 1em;
    font-size: .9em;
}

.btn-round {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 24px;
    height: 24px;
    padding: 0 !important;
    margin: 0;
    line-height: 1em;
    font-family: serif;
}

.btn-bar {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.transittion_all {
    transition: all .3s;
}

.loading-complete {
    .transittion_all;
    pointer-events: none;
    opacity: 0;
}


@font-face {
	font-family: Ubuntu;
	src: url('/style/Ubuntu-Regular.ttf');
}
@font-face {
	font-family: UbuntuMono-Regular;
	src: url('/style/UbuntuMono-Regular.ttf');
}
@font-face {
	font-family: Ubuntu-Bold;
	src: url('/style/Ubuntu-Bold.ttf');
}
/* Minecraft-like pixely font */
@font-face {
	font-family: minecraftia;
	src:
        /* url('mcfont.woff') format('woff'), */
        url('/style/minecraftia.ttf');
}

@-webkit-keyframes scrollBg {
    0% {
        background-position: 0 0;
    }
    to {
        background-position: 0 100vh;
    }
}

@keyframes scrollBg {
    0% {
        background-position: 0 0;
    }
    to {
        background-position: 0 100vh;
    }
}

// General page style

kbd, .font-mono {
    font-family: UbuntuMono-Regular;
}

* {
    box-sizing: border-box;
}

body {
    color: white;
	font-size: 16px;
	// text-shadow: #3f3f3f 2px 2px 0px;
    font-family: Ubuntu;
	height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    line-height: normal;
    text-shadow: none;
    background: url(/media/design/stars.webp), url(/media/design/clouds.webp),
            linear-gradient(180deg, #1C1149 0%, #322D6F 53.65%, #66408D 100%);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    /* animation: scrollBg 90s linear infinite; */
    &.started {
        padding: 0px;
        #main-menu {
            display: none;
        }
    }
    &:not(.started) #renderSurface {
        display: none;
    }
}

:root {
    --animate-duration: .4s;
    --animate-delay: .4s;
    --animate-repeat: .4s;
}

h4 {
    margin-top: 0;
}

.text-center {
    text-align: center;
}

input[type="text"], input[type="password"] {
    border: 2px solid white;
    font-family: 'Ubuntu';
    background: #000;
    font-size: 16px;
    line-height: 40px;
    padding: 0 1em;
    margin-bottom: 1em;
    color: white;
    width: 100%;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}

@media only screen and (max-width: 600px) {
    #main-pictures {
        zoom: 1;
        .pic-art {
            top: 0;
            bottom: initial;
            margin-left: 0;
        }
        .logo-main {
            top: 200px;
        }
    }
    #form-not-supported {
        top: 440px;
    }
    #btns-pad {
        opacity: .8;
    }
    button {
        padding: 0.5em 0.75em;
    }
    .btn2 {
        padding: 0.5em 0.75em;
        font-size: 14px;
        text-shadow: none;
    }
    .form-profile {
        font-size: 20px;
        text-align: center;
    }
    h4 {
        font-size: 24px;
    }
}