<!doctype html>
<html ng-app="gameApp" lang="en">
<head>
    <meta charset="UTF-8">
	<title><%= page.title %></title>
    <base href="/" target="_blank">
    <meta name="viewport" content="width=device-width, initial-scale=1.00, maximum-scale=2.50, minimum-scale=0.75">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="/favicon.png" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Minecraft game clone on JS">
    <meta name="keywords" content="MadCraft, WebCraft, Minecraft, WebGL, WebGPU, Javascript">
    <!-- social card -->
    <meta property="og:site_name" content="MadCraft">
    <meta property="og:description" content="Minecraft game clone on JS">
    <meta property="og:type" content="website">
    <% if( typeof(world) != 'undefined') {%>
    <meta property="og:title" content="<%= page.title %>" />
    <meta property="og:url" content="<%= page.domain %>/worlds/<%= world.guid %>" />
    <meta property="og:image" content="<%= page.domain %>/worldcover/<%= world.guid %>/screenshot/<%= world.cover %>" />
    <% } else { %>
    <meta property="og:title" content="<%= page.title %>">
    <meta property="og:url" content="<%= page.domain %>">
    <meta property="og:image" content="<%= page.domain %>/media/card.webp">
    <% } %>
    <!-- twitter card -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="MadCraft - JS game in browser">
    <meta property="twitter:url" content="<%= page.domain %>">
    <meta property="twitter:image" content="<%= page.domain %>/media/card.webp">
	<!-- Design3 -->
    <script type="text/javascript" src="style/js/slim-select.js"></script>
    <link rel="stylesheet" href="style/less/style.css">
    <link rel="stylesheet" href="style/less/keen-slider.min.css">
    <script src="style/js/keen-slider.min.js"></script>
    <script src="style/js/profile-page.js"></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="vendors/animate.min.css" />
    <link rel="stylesheet" href="style/circles.css" />
	<!-- Third party -->
    <script src="vendors/howler.min.js" type="text/javascript"></script>
    <script src="vendors/angular.min.js"></script>
    <% if(page.useGenWorkers) {%>
    <script src="js-bundles/controller_bundle.js" type="module"></script>
    <% } else { %>
    <script src="js/ui/controller.js" type="module"></script>
    <% } %>
    <script>
        globalThis.useGenWorkers = <%= page.useGenWorkers %>;
        function isMobileBrowser() {
            return 'ontouchstart' in document.documentElement;
        }
        function windowResized(event) {
            const dpr = isMobileBrowser() ? 1 : window.devicePixelRatio
            let width = 0
            let height = 0
            for(let id of ['qubatchRenderSurface']) {
                const c = document.getElementById(id)
                const sz = {width: c.parentElement.clientWidth, height: c.parentElement.clientHeight}
                width = c.width = sz.width * dpr;
                height = c.height = sz.height * dpr;
            }
        }
        window.addEventListener('resize', windowResized, true);
    </script>
</head>
<body oncontextmenu="return false" ng-controller="gameCtrl" ng-cloak ng-class="{logged: loading.completed && login.logged}" onload="windowResized()">

    <div id="bg-circles_area">
        <ul class="circles">
            <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        </ul>
    </div>
    <div id="qubatch-canvas-container">
        <input id="form-upload-image" ng-hide="true" type="file" accept="image/png">
        <canvas id="qubatchRenderSurface" ng-click="Qubatch.setupMousePointer(true)" width="800" height="600"></canvas>
        <!-- <canvas id="qubatchHUD" width="800" height="600"></canvas> -->

        <!-- Joystick -->
        <div id="Joystick">
            <div id="Joystick-left" class="joystick" ng-if="isJoystickControl()">
                <img ng-src="/media/joystick/joystick-base.png" style="pointer-events: none;" />
                <div id="stick" style="position: absolute; left:32px; top:32px;" style="pointer-events: none;" >
                    <img ng-src="/media/joystick/joystick-red.png" />
                </div>
            </div>
            <div id="Joystick-right" class="joystick" ng-if="isJoystickControl()">
                <div style="left: 37px; top: -2px;" ng-mousedown="Qubatch.Joystick.action('walk', true)" ng-mouseup="Qubatch.Joystick.action('walk', false)" ontouchstart="Qubatch.Joystick.action('walk', true)" ontouchend="Qubatch.Joystick.action('walk', false)"><img ng-src="/media/joystick/walk.png" /></div>
                <div style="left: -16px; bottom: 48px;" ng-mousedown="Qubatch.Joystick.action('atack', true)" ng-mouseup="Qubatch.Joystick.action('atack', false)" ontouchstart="Qubatch.Joystick.action('atack', true)" ontouchend="Qubatch.Joystick.action('atack', false)"><img ng-src="/media/joystick/atack.png" /></div>
                <div style="right: -16px; bottom: 48px;" ng-mousedown="Qubatch.Joystick.action('jump', true)" ng-mouseup="Qubatch.Joystick.action('jump', false)" ontouchstart="Qubatch.Joystick.action('jump', true)" ontouchend="Qubatch.Joystick.action('jump', false)"><img ng-src="/media/joystick/jump.png" /></div>
                <div style="left: 37px; bottom: 0px;" ng-mousedown="Qubatch.Joystick.action('place', true)" ng-mouseup="Qubatch.Joystick.action('place', false)" ontouchstart="Qubatch.Joystick.action('place', true)" ontouchend="Qubatch.Joystick.action('place', false)"><img ng-src="/media/joystick/place.png" /></div>
            </div>
        </div>

        <!-- Mobile buttons -->
        <div id="mobile-buttons" ng-if="isJoystickControl()">
            <div id="btn-mobile-inventory" class="secondary btn" ng-click="toggleFullscreen()">⛶</div>
            <div id="btn-mobile-menu" class="secondary btn" ng-click="toggleMainMenu()">☰</div>
            <div id="btn-mobile-inventory" class="secondary btn" ng-click="Qubatch.player.inventory.open()">inv</div>
        </div>

        <div id="share-button-container">
            <button class="secondary visible_only_in_game_menu visible_in_game_menu" ng-click="shareGame.toggle()">
                <span style="margin-right: 1em;">Invite</span>
                <img src="/media/design/icons-share.svg" style="height: 2em;" alt="Invite friend">
            </button>
        </div>

    </div>

    <!-- <canvas id="bg-canvas"></canvas> -->

    <!-- shareGame -->
    <div id="form-shareGame" class="form-normal visible_only_in_game_menu visible_in_game_menu" ng-if="shareGame.visible">
        <div>
            <span>{{Lang.share_game_with_friends}}</span>
            <button class="secondary" ng-click="shareGame.toggle()">×</button>
        </div>
        <input type="text" readonly ng-value="shareGame.url">
        <button class="primary" ng-click="shareGame.copy()">{{Lang.copy}}</button>
    </div>

    <!-- Not supported browser -->
    <form id="form-not-supported" ng-if="Qubatch && current_window.id == 'not_supported_browser'">
        {{Lang.browser_not_supported_1}}
        <br />{{Lang.browser_not_supported_2}} <a target="_blank" href="https://www.google.com/chrome/" style="color: white;">Chrome</a>
    </form>

    <!-- Enter to invited world -->
    <div id="formEnterWorld" ng-if="current_window.id == 'enter-world'">
        <div class="flex0 flex-column">
            <div class="flex0 flex-column" ng-if="mygames.enterWorld.windowMod == 'login' || mygames.enterWorld.windowMod == 'join'">
                <img ng-src="{{mygames.enterWorld.worldInfo.cover}}" ng-if="mygames.enterWorld.worldInfo.cover" style="margin: 0 !important;" />
                <img src="/media/design/no-logo.svg" ng-if="!mygames.enterWorld.worldInfo.cover" />
            </div>
            <label ng-if="mygames.enterWorld.windowMod == 'login'" ng-bind-html="Lang.enter_world_login|textfilter:mygames.enterWorld.worldInfo.title|trust"></label>
            <div ng-if="mygames.enterWorld.windowMod == 'login'" class="flex0 flex-column flex-gap">
                <button ng-click="current_window.show('login')" class="primary active">{{Lang.login}}</button>
                <button ng-click="mygames.toMain()" class="secondary active">{{Lang.cancel}}</button>
            </div>
            <div ng-if="mygames.enterWorld.windowMod == 'world-not-found'" class="world-not-found flex0 flex-column">
                😞
            </div>
            <label ng-if="mygames.enterWorld.windowMod == 'world-not-found'">{{Lang.no_world_by_link}}</label>
            <div ng-if="mygames.enterWorld.windowMod == 'world-not-found'" class="flex0 flex-column">
                <button ng-click="mygames.toMain()" class="primary active">{{Lang.ok}}</button>
            </div>
            <div ng-if="mygames.enterWorld.windowMod == 'approve-join'" class="flex0 flex-column">
                <div class="flex0 flex-column">
                    <img ng-src="{{mygames.enterWorld.worldInfo.cover}}" ng-if="mygames.enterWorld.worldInfo.cover" style="margin: 0 !important;" />
                    <img src="/media/design/no-logo.svg" ng-if="!mygames.enterWorld.worldInfo.cover" />
                </div>
                <label ng-bind-html="Lang.accept_join_to_world_message|textfilter:mygames.enterWorld.worldInfo.title|trust"></label>
                <div class="flex0 flex-column">
                    <button ng-click="mygames.enterWorld.joinAfterApproving()" class="primary active">{{Lang.join}}</button>
                    <button ng-click="mygames.toMain()" class="secondary active">{{Lang.cancel}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Start page -->
    <div class="start-page" ng-if="loading.completed && !login.logged">
        <input id="sign-modal-toggle" type="checkbox" class="hidden">
        <div class="bg" ng-init="initSelects()">
            <div class="container">
                <div class="block">
                    <img class="logo" ng-src="style/img/logo.webp" alt="">
                    <div class="step-1">
                        <label for="sign-modal-toggle" class="btn primary" style="width: 210px; margin-bottom: 60px;">{{Lang.start_game}}</label>
                    </div>
                    <div class="step-2 m-auto">
                        <nav class="tabs">
                            <div class="tabs-block">
                                <label class="tab" for="tab-login">
                                    <input class="hidden toggle" id="tab-login" type="radio" name="active-tab" checked ng-model="login_tab" value="login">
                                    <span>{{Lang.login}}</span>
                                </label>
                                <label class="tab" for="tab-registration">
                                    <input class="hidden toggle" id="tab-registration" type="radio" name="active-tab" ng-model="login_tab" value="registration">
                                    <span>{{Lang.registration}}</span>
                                </label>
                            </div>
                        </nav>
                        <!-- login -->
                        <div class="animate__animated animate__fadeIn" ng-if="login_tab == 'login'">
                            <div class="border-block">
                                <input type="text" placeholder="Username" ng-model="login.form.username" my-enter="login.submit()">
                                <input type="password" placeholder="Password" ng-model="login.form.password" my-enter="login.submit()">
                                <button class="btn primary" ng-click="login.submit()" ng-class="{disabled: !login.isValid()}">{{Lang.enter}}</button>
                            </div>
                        </div>
                        <!-- registration -->
                        <div class="animate__animated animate__fadeIn" ng-if="login_tab == 'registration'">
                            <div class="border-block">
                                <input type="text" placeholder="Username" ng-model="registration.form.username" my-enter="registration.submit()">
                                <input type="password" placeholder="Password" ng-model="registration.form.password" my-enter="registration.submit()">
                                <button class="btn primary" ng-click="registration.submit()" ng-class="{disabled: !registration.isValid()}">{{Lang.enter}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="social">
                        <a class="icon" ng-href="{{links.discord}}" target="_blank" rel="noreferrer">
                            <img ng-src="style/img/discord.svg" alt="">
                        </a>
                        <a class="icon" ng-href="{{links.youtube}}" target="_blank" rel="noreferrer">
                            <img ng-src="style/img/youtube.svg" alt="">
                        </a>
                    </div>
                </div>
                <select class="slim-select lang-dropdown" id="start-page-select" ng-options="item as item.short_title for item in Lang.list" ng-model="current_lang" ng-change="changeLang(current_lang)"></select>
            </div>
        </div>
    </div>

	<div class="container" ng-if="Qubatch && login.logged">

        <!-- Header -->
		<header class="animate__animated animate__fadeIn" ng-init="skin.load()">
			<nav class="tabs">
				<div class="logo cpointer" ng-click="current_window.show('main')">
					<img ng-src="style/img/logo.webp" alt="">
				</div>
				<div class="tabs-block">
					<!-- <button class="tab">{{Lang.servers}}</button>
					<button class="tab">{{Lang.friends}}</button> -->
					<button class="tab" ng-class="{ active: current_window.id == 'main'}" href="#" ng-click="current_window.show('main')">{{Lang.worlds}}</button>
				</div>
				<div class="user-block">
					<button class="tab user" ng-class="{ active: current_window.id == 'skin'}" ng-click="skin.toggle()">
						<img ng-src="media/design/icon-head.png" alt="">
						@{{Qubatch.App.session.username}}
					</button>
					<button class="tab" ng-class="{ active: current_window.id == 'settings'}"  href="#" ng-click="settings.toggle()">
						<i class="icon-settings" style="font-size: 22px;"></i>
                    </button>
				</div>
			</nav>
		</header>

        <!-- Worlds -->
		<div class="content worlds-page animate__animated animate__fadeIn" ng-if="current_window.id == 'main'">
            <div class="modal-wrapper" id="modal-delete-world">
                <div class="modal">
                    <h3 class="header">{{Lang.confirm_action}}</h3>
                    <p>{{Lang.you_sure_want_to_delete}} «{{DeleteWorld.world_title}}»?</p>
                    <div class="buttons">
                        <button class="secondary" ng-click="modalWindow.hide('modal-delete-world')">{{Lang.cancel}}</button>
                        <button class="primary" ng-click="DeleteWorld.delete()">{{Lang.apply}}</button>
                    </div>
                </div>
            </div>

            <div class="grid">
				<button class="btn btn-add primary item" ng-click="newgame.open()">
					<span style="font-size: 100px;">+</span>
					<span>{{Lang.new_world_do}}</span>
                </button>
				<div class="item card __animate__animated __animate__zoomIn" ng-repeat="item in mygames.list track by item.id" ng-if="!item.hidden">
					<div class="card-body">
                        <button class="btn-delete" ng-click="DeleteWorld.showModal(item.guid)">
							<i class="icon-bx_trash-alt"></i>
						</button>
						<div class="img-cover" ng-class="{with_cover: !!item.cover}">
							<h2 ng-if="!item.cover">{{Lang.no_cover}}</h2>
							<p ng-if="!item.cover">{{Lang.no_cover_note}}</p>
                            <img ng-if="item.cover" class="world_cover" ng-src="/worldcover/{{item.guid}}/screenshot/{{item.cover_preview ? item.cover_preview : item.cover}}" alt="cover" />
						</div>
					</div>
					<div class="card-footer">
						<div class="animated-mask">
							<h2 class="m-0">{{item.title}}</h2>
							<div class="flex">
								<p class="game-mode">{{item.game_mode_title}}</p>
								<div class="users-online" title="{{Lang.players_online}}">
									<i class="icon-bx-user" style="font-size: 14px; color: #AEEA00;"></i>
									<span>{{item.players_online}}</span>
								</div>
							</div>
						</div>
						<div class="buttons">
							<button class="primary" ng-click="StartWorld(item.guid)">
								<span>{{Lang.play}}</span>
								<i class="icon-arrows-right"></i>
							</button>
							<!-- <button class="secondary">Edit</button> -->
						</div>

					</div>
				</div>
			</div>

            <!-- Social -->
			<div class="social">
                <a class="icon" ng-href="{{links.discord}}" target="_blank" rel="noreferrer">
                    <img ng-src="style/img/discord.svg" alt="">
                </a>
                <a class="icon" ng-href="{{links.youtube}}" target="_blank" rel="noreferrer">
                    <img ng-src="style/img/youtube.svg" alt="">
                </a>
            </div>

		</div>

        <!-- Settings -->
        <div class="settings-page" ng-if="texture_pack.list && current_window.id == 'settings'">

            <form class="form" ng-init="initSelects()">
                <div class="main">
                    <h1>{{Lang.main}}</h1>
                    <div class="input-group">
                        <p>{{Lang.mouse_sensitivity}}: <span>{{settings.form.mouse_sensitivity}}</span>%</p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="inputRange_Mouse" class="slider" type="range" min="25" max="300" step="1" value="settings.form.mouse_sensitivity"
                                ng-model="settings.form.mouse_sensitivity" ng-change="settings.updateSlider('inputRange_Mouse')">
                        </div>
                        <div id="inputRange_Mouse_ticks"></div>
                    </div>
                    <!--
                    <div class="input-group">
                        <p>HUD Scale: <span id="inputRange_HudScale_text">30</span></p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="inputRange_HudScale" class="slider" type="range" step="20" value="{test22}" ng-model="test22" ng-change="settings.updateSlider('inputRange_HudScale')">
                            <div class="ticks" id="inputRange_HudScale_ticks">
                                <span class="passed active"></span>
                                <span></span><span></span><span></span><span></span><span></span>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="input-group">
                        <p>{{Lang.textures}}</p>
                        <select class="slim-select" id="settings-select-texture" ng-options="item as item.name for item in texture_pack.list" ng-model="texture_pack.current" ng-change="texture_pack.set(texture_pack.current)"></select>
                    </div> -->
                    <div class="input-group">
                        <p>{{Lang.language}}</p>
                        <select class="slim-select lang-dropdown" id="start-page-select" ng-options="item as item.short_title for item in Lang.list" ng-model="current_lang" ng-change="changeLang(current_lang)"></select>
                    </div>
                    <div class="input-group">
                        <p>{{Lang.music_volume}}: <span>{{settings.form.music_volume}}</span>%</p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="inputRange_musicVolume" class="slider" type="range" min="0" max="100" ng-model="settings.form.music_volume">
                        </div>
                    </div>
                    <div class="switcher-container">
                        <input type="checkbox" id="chk-forced_joystick_control" value="" ng-model="settings.form.forced_joystick_control" />
                        <div class="switcher">
                            <small></small>
                        </div>
                        <label for="chk-forced_joystick_control">{{Lang.forced_joystick_control}}</label>
                    </div>
                </div>
                <div class="video">
                    <h1>{{Lang.video}}</h1>
                    <!-- <div class="input-group">
                        <div class="input-group">
                            <p>Render Distance: <span id="inputRange_renderDistance_text">30</span></p>
                            <div class="rangeContainer" style="margin-bottom: 20px;">
                                <input id="inputRange_renderDistance" class="slider" type="range" step="20" value="{settings.form.render_distance}"
                                ng-model="settings.form.render_distance"
                                    ng-change="settings.updateSlider('inputRange_renderDistance')">
                                <div class="ticks" id="inputRange_renderDistance_ticks">
                                    <span class="passed active"></span>
                                    <span></span><span></span><span></span><span></span><span></span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="input-group">
                        <p>{{Lang.field_of_view}}: <span>{{settings.form.fov}}</span>°</p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="inputRange_FOV" class="slider" type="range" min="50" max="120" step="5" ng-model="settings.form.fov">
                        </div>
                    </div>
                    <div class="input-group">
                        <p>{{Lang.base_ambient_light_level}}: <span>{{settings.form.base_ambient_light_level}}</span>%</p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="inputRange_BaseAmbientLightLevel" class="slider" type="range" min="0" max="100" step="5" ng-model="settings.form.base_ambient_light_level">
                        </div>
                    </div>
                    <div class="input-group">
                        <p>{{Lang.render_options}}</p>
                        <div class="switcher-container">
                            <input type="checkbox" id="chk-generate_mipmap" value="" ng-model="settings.form.mipmap" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-generate_mipmap">{{Lang.generate_mipmap}}</label>
                        </div>
                        <div class="switcher-container" style="margin: 1em 0;">
                            <input type="checkbox" id="chk-beautiful_leaves" value="" ng-model="settings.form.beautiful_leaves" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-beautiful_leaves">{{Lang.beautiful_leaves}}</label>
                        </div>
                        <!-- Draw improved blocks -->
                        <div class="switcher-container" style="margin-top: 1em;">
                            <input type="checkbox" id="chk-draw_improved_blocks" value="" ng-model="settings.form.draw_improved_blocks" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-draw_improved_blocks">{{Lang.draw_improved_blocks}}</label>
                        </div>
                        <!-- Leaf fall -->
                        <div class="switcher-container" style="margin-top: 1em;">
                            <input type="checkbox" id="chk-leaf_fall" value="" ng-model="settings.form.leaf_fall" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-leaf_fall">{{Lang.settings_leaf_fall}}</label>
                        </div>
                        <!-- Overlay textures -->
                        <div class="switcher-container" style="margin-top: 1em;">
                            <input type="checkbox" id="chk-overlay_textures" value="" ng-model="settings.form.overlay_textures" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-overlay_textures">{{Lang.settings_overlay_textures}}</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <p>{{Lang.use_light}}</p>
                        <select class="slim-select" id="settings-select-light" ng-options="item as item.name for item in settings.lightMode.list" ng-model="settings.lightMode.current"></select>
                    </div>
                </div>
                <div class="interface">
                    <h1>{{Lang.interface}}</h1>
                    <div class="input-group">
                        <p>{{Lang.crosshair_style}}</p>
                        <select class="slim-select" id="settings-select-crosshair" ng-options="item as item.name for item in settings.crosshairStyle.list" ng-model="settings.crosshairStyle.current"></select>
                    </div>
                    <div class="input-group">
                        <p>{{Lang.crosshair_size}}: <span>{{settings.form.crosshair_size}}</span>%</p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="input_crosshair_size" class="slider" type="range" min="10" max="200" step="10" value="settings.form.crosshair_size" ng-model="settings.form.crosshair_size">
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="switcher-container" style="margin-top: 1em;">
                            <input type="checkbox" id="chk-show_compass" value="" ng-model="settings.form.show_compass" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-show_compass">{{Lang.show_compass}}</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="switcher-container" style="margin-top: 1em;">
                            <input type="checkbox" id="chk-check-delete-item" value="" ng-model="settings.form.check_delete_item" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-check-delete-item">{{Lang.check_delete_item}}</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <p>{{Lang.window_size}}: <span>{{settings.form.window_size}}</span>%</p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="input_window_size" class="slider" type="range" min="10" max="300" step="1" value="settings.form.window_size" ng-model="settings.form.window_size">
                        </div>
                    </div>
                </div>
                <div class="chat">
                    <h1>{{Lang.chat}}</h1>
                    <div class="input-group">
                        <div class="switcher-container" style="margin-top: 1em;">
                            <input type="checkbox" id="chk-schat-reverse" value="" ng-model="settings.form.chat_reverse" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-schat-reverse">{{Lang.chat_reverse}}</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <p>{{Lang.chat_time}}: <span>{{settings.form.chat_time}}</span> {{Lang.sec}}</p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="input_chat_time" class="slider" type="range" min="0" max="60" step="1" value="settings.form.chat_time" ng-model="settings.form.chat_time">
                        </div>
                    </div>
                </div>
                <div class="interface">
                    <h1 style="display: flex; align-items: center; justify-content: space-between;">
                        <span>{{Lang.advanced_settings}}</span>
                        <div class="switcher-container">
                            <input type="checkbox" id="chk-show_advanced_settings" value="" ng-model="settings.show_advanced_settings" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-show_advanced_settings"></label>
                        </div>
                    </h1>
                    <div ng-show="settings.show_advanced_settings">
                        <div class="input-group">
                            <p>{{Lang.chunk_geometry_mode}}</p>
                            <select class="slim-select" id="settings-select-chunk_geometry_mode" ng-options="item as item.name for item in settings.chunkGeometryMode.list" ng-model="settings.chunkGeometryMode.current"></select>
                        </div>
                        <div class="input-group">
                            <p>{{Lang.chunk_geometry_alloc}}</p>
                            <select class="slim-select" id="settings-select-chunk_geometry_alloc" ng-options="item as item.name for item in settings.chunkGeometryAlloc.list" ng-model="settings.chunkGeometryAlloc.current"></select>
                        </div>
                        <div class="switcher-container" style="margin-top: 1em;">
                            <input type="checkbox" id="chk-old_spectator_controls" value="" ng-model="settings.form.old_spectator_controls" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-old_spectator_controls">{{Lang.old_spectator_controls}}</label>
                        </div>
                    </div>
                    <br>
                </div>
                <!-- <div class="audio">
                    <h1>Audio</h1>
                    <div class="input-group">
                        <p>Background Music: <span id="inputRange_musicBg_text">30</span></p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="inputRange_musicBg" class="slider" type="range" step="1" value="{test33}"
                                ng-model="test33" ng-change="settings.updateSlider('inputRange_musicBg')">
                        </div>
                        <div id="inputRange_musicBg_ticks"></div>
                    </div>
                    <div class="input-group">
                        <p>Musical Devices: <span id="inputRange_musicDevices_text">30</span></p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="inputRange_musicDevices" class="slider" type="range" step="1" value="{test44}"
                                ng-model="test44" ng-change="settings.updateSlider('inputRange_musicDevices')">
                        </div>
                        <div id="inputRange_musicDevices_ticks"></div>
                    </div>
                    <div class="input-group">
                        <p>Effects: <span id="inputRange_musicEffects_text">30</span></p>
                        <div class="rangeContainer" style="margin-bottom: 20px;">
                            <input id="inputRange_musicEffects" class="slider" type="range" step="1" value="{test55}"
                                ng-model="test55" ng-change="settings.updateSlider('inputRange_musicEffects')">
                        </div>
                        <div id="inputRange_musicEffects_ticks"></div>
                    </div>
                </div> -->

                <div class="save">
                    <button class="primary" ng-click="settings.save()">{{Lang.save}}</button>
                </div>
            </form>

        </div>

        <!-- Profile -->
        <div class="profile-page" ng-show="current_window.id == 'skin'">
            <div class="modal-wrapper" id="modal-change-pass">
                <div class="modal">
                    <h3 class="header">Password change</h3>
                    <input type="password" placeholder="Current password">
                    <input type="password" placeholder="New password">
                    <input type="password" placeholder="Repeat new password">
                    <div class="buttons">
                        <button class="secondary" ng-click="modalWindow.hide('modal-change-pass')">Cancel</button>
                        <button class="primary" ng-click="">Apply</button>
                    </div>
                </div>
            </div>
            <div class="content" style="line-height: 1.5em;">

                <div ng-init="skin.init()">
                    <h1 class="flex items-center justify-between">
                        {{Lang.select_skin}}
                    </h1>
                    <div class="preview-buttons" id="div-skin-preview-buttons">
                        <button id="slider-prev" class="slider-btn animate__animated animate__fadeIn" ng-click="skin.prev()" ng-class="{disabled: skin.preview.index == 0, displaynone: skin.preview.count == 0}">
                            <i class="icon-chevron-left"></i>
                        </button>
                        <div ng-if="skin.preview.count == 0" class="skin-loader">{{Lang.loading}}</div>
                        <canvas id="bbmodel_preview" width="320" height="500" class="animate__animated animate__fadeIn" style="background: #00000000; margin: auto;" ng-class="{displaynone: skin.preview.count == 0}"></canvas>
                        <button id="slider-next" class="slider-btn animate__animated animate__fadeIn" ng-click="skin.next()" ng-class="{disabled: skin.index == skin.preview.count -1, displaynone: skin.preview.count == 0}">
                            <i class="icon-chevron-right"></i>
                        </button>
                    </div>
                    <p class="skin-counts" ng-class="{hidden: skin.preview.count == 0}">
                        {{skin.preview.index + 1}} / {{skin.preview.count}}
                    </p>
                    <div class="save" ng-class="{displaynone: skin.preview.count == 0}">
                        <button class="primary" ng-click="skin.save()">{{Lang.save}}</button>
                    </div>
                </div>

                <!-- <h1 class="flex items-center justify-between">
                    {{Lang.select_skin}}
                    <p class="font-m m-0" style="color: #B7B2CC;">
                        <span id="skins-current"></span>/<span id="skins-length"></span>
                    </p>
                    <div class="flex-row">
                        <button class="secondary" ng-click="skin.newSkin()">{{Lang.new_skin}}</button>
                        &nbsp;
                        <button class="secondary" ng-click="skin.deleteSkin()" ng-if="skin.currentSkinIsOwned">{{Lang.delete}}</button>
                    </div>
                </h1>
                <div id="skins-slider" class="keen-slider zoom-out">
                    <div class="keen-slider__slide zoom-out__slide" ng-repeat="k in skin.list track by k.id">
                        <div>
                        </div>
                    </div>
                </div>
                <div class="preview-buttons" id="div-skin-preview-buttons">
                    <button id="slider-prev" class="slider-btn disabled" onclick="sliderPrev()">
                        <i class="icon-chevron-left"></i>
                    </button>
                    <canvas id="skin_container" ng-init="skin.initSkinView3d()"></canvas>
                    <div id="skins-preview-slider" class="keen-slider thumbnail">
                        <div class="keen-slider__slide" ng-repeat="k in skin.list track by k.id">
                        </div>
                    </div>
                    <button id="slider-next" class="slider-btn" onclick="sliderNext()">
                        <i class="icon-chevron-right"></i>
                    </button>
                </div>
                <div class="save">
                    <button class="primary" ng-click="skin.save()">{{Lang.save}}</button>
                </div> -->

                <!-- <form class="form">
                    <label for="">Password</label>
                    <div class="grid">
                        <input type="text" placeholder="Current password">
                        <input type="text" placeholder="New password">
                    </div>
                    <button class="secondary" type='button'>Change password</button>
                </form> -->
            </div>
            <div class="content" style="border: none; padding-top: 0;">

                <!-- Our secure logout page is designed to ensure the privacy and safety of your account information.
                <p>By logging out, you can confidently close your session,
                knowing that your personal data and activity remain protected.
                </p>
                <p>Remember to always use this feature whenever you access our website on a shared device
                or public network, as a simple yet essential step in safeguarding your online experience.
                </p>

                <p>
                    <small style="font-size: .8em; opacity: .5;">Yes, this is generated by ChatGPT ;)</small>
                </p> -->

                <button class="logout" ng-click="App.logout()">
                    <i class="icon-bx-log-out"></i>
                    {{Lang.logout}}
                </button>
                <!-- <button class="change-pass" ng-click="modalWindow.show('modal-change-pass')">
                    <i class="icon-bx_lock-alt" style="margin-top: -3px;"></i>
                    Change password
                </button> -->
            </div>
            <!-- <div class="content" style="border: none; padding-top: 10px;">
                <div class="save">
                    <button class="primary" ng-click="skin.save()">{{Lang.save}}</button>
                </div>
            </div> -->
            <div class="social">
                <a class="icon" ng-href="{{links.discord}}" target="_blank" rel="noreferrer">
                    <img ng-src="style/img/discord.svg" alt="">
                </a>
                <a class="icon" ng-href="{{links.youtube}}" target="_blank" rel="noreferrer">
                    <img ng-src="style/img/youtube.svg" alt="">
                </a>
            </div>
        </div>

        <!-- New skin -->
        <div class="profile-page" ng-if="current_window.id == 'new_skin'">
            <div class="content items-center">
                <h3 class="header">New skin</h3>
                <div class="input-group">
                    <div>
                        <!-- <canvas id="preview_skin_container" ng-init="skin.initPreviewSkinView3d()"></canvas> -->
                        <!-- <img class="raw-skin-preview" id="new-skin-image" ng-src="{{skin.newSkinDataURL}}"/> -->
                    </div>
                    <div>&nbsp;</div>
                    <div class="flex-row items-center">
                        <div class="open-file-div">
                            <button class="secondary" for="new-skin-input">{{Lang.open_file}}</label>
                            <input type="file" id="new-skin-input" accept="image/png" ng-upload-change="skin.newSkinFileChanged($event)">
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div class="switcher-container">
                            <input type="checkbox" id="chk-new-skin-slim" value="" ng-model="skin.newSkinSlim" ng-change="skin.changePreviewSkinSlim()" />
                            <div class="switcher">
                                <small></small>
                            </div>
                            <label for="chk-new-skin-slim">{{Lang.slim}}</label>
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="flex-row items-center">
                    <button class="secondary flex-row" ng-click="skin.newSkinCancel()">{{Lang.cancel}}</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="primary flex-row" ng-click="skin.newSkinOk()" ng-disabled="!skin.newSkinDataURL">{{Lang.apply}}</button>
                </div>
            </div>
            <div class="social">
                <a class="icon" ng-href="{{links.discord}}" target="_blank" rel="noreferrer">
                    <img ng-src="style/img/discord.svg" alt="">
                </a>
                <a class="icon" ng-href="{{links.youtube}}" target="_blank" rel="noreferrer">
                    <img ng-src="style/img/youtube.svg" alt="">
                </a>
            </div>
        </div>

        <!-- New game -->
        <div class="create-w-page" ng-if="current_window.id == 'newgame'">
            <div class="content">
                <form class="form">
                    <div class="block">

                        <h1>{{Lang.new_world}}</h1>

                        <div id="world-generator-main-info" ng-init="initSelects('#world-generator-main-info .slim-select')">

                            <div class="input-group">
                                <p>{{Lang.world_name}}</p>
                                <input type="text" placeholder="{{Lang.enter_world_name}}" ng-model="newgame.form.title">
                            </div>

                            <div class="grid-2 input-group">
                                <div>
                                    <p>{{Lang.world_generator_type}}</p>
                                    <select class="slim-select" id="create-w-select1" ng-options="item as item.title for item in newgame.generators.list" ng-model="newgame.generators.current" ng-change="newgame.generators.select(newgame.generators.current)"></select>
                                </div>
                            </div>

                            <div class="grid-2 input-group">
                                <div>
                                    <p>{{Lang.world_game_mode}}</p>
                                    <select class="slim-select" id="create-w-select2" ng-options="item as item.title for item in newgame.gamemodes.list" ng-model="newgame.gamemodes.current" ng-change="newgame.gamemodes.select(newgame.gamemodes.current)"></select>
                                </div>
                            </div>

                            <div class="input-group">
                                <p>{{Lang.world_seed}}</p>
                                <input type="text" placeholder="" ng-model="newgame.form.seed">
                            </div>

                        </div>

                        <div id="world-generator-options" class="switchers" ng-if="newgame.generators.current.has_options">
                            <h2>{{Lang.world_options}}</h2>
                            <!-- Options -->
                            <div ng-repeat="(key, option) in newgame.generators.current.options" ng-show="!option.deprecated">
                                <div class="switcher-container" ng-if="option.type == 'checkbox'">
                                    <input type="checkbox" id="chk-generator-option-{{key}}" value="" ng-model="newgame.form.generator.options[key]" />
                                    <div class="switcher">
                                        <small></small>
                                    </div>
                                    <label for="chk-generator-option-{{key}}">{{option.title}}</label>
                                </div>
                                <div ng-if="option.type == 'select'">
                                    <p>{{option.title}}</p>
                                    <select id="select-option-{{key}}" class="slim-select" ng-options="item.value as item.title for item in option.options" ng-model="newgame.form.generator.options[key]"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="buttons">
                        <button class="primary" ng-click="newgame.submit()" ng-class="{disabled: !newgame.form.title.trim()}">{{Lang.create}}</button>
                        <button class="secondary" ng-click="newgame.close()">{{Lang.cancel}}</button>
                    </div>
                </form>
            </div>

        </div>

	</div>

    <script src="/vendors/vanilla-toast.min.js"></script>
    <div id="loading"></div>

</body>
</html>