<!doctype html>
<html ng-app="gameApp" lang="en">
<head>
    <meta charset="UTF-8">
	<title>MadCraft</title>
    <base href="/" target="_blank">
    <meta name="viewport" content="width=device-width, initial-scale=1.00, maximum-scale=2.50, minimum-scale=0.75">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="/favicon.png" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Minecraft game clone on JS">
    <meta name="keywords" content="MadCraft, WebCraft, Minecraft, WebGL, WebGPU, Javascript">
    <meta property="og:title" content="MadCraft - JS game in browser">
    <meta property="og:description" content="Minecraft game clone on JS">
    <meta property="og:image" content="https://madcraft.io/media/card.png">
    <meta property="og:site_name" content="MadCraft">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://madcraft.io">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="MadCraft - JS game in browser">
    <meta property="twitter:url" content="https://madcraft.io">
    <meta property="twitter:image" content="https://madcraft.io/media/card.png">
	<!-- Stylesheet -->
    <link rel="stylesheet" href="vendors/animate.min.css" />
    <link href="style/main.less" rel="stylesheet/less" type="text/css">
    <link href="style/ui.less" rel="stylesheet/less" type="text/css" />
	<!-- Third party -->
    <script src="vendors/howler.min.js" type="text/javascript"></script>
    <script src="vendors/angular.min.js"></script>
    <!-- <script src="vendors/webgl-utils.js"></script> -->
    <script src="js/ui/controller.js" type="module"></script>
    <script>
        less = {
            env: 'production',
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: 'comments',
            relativeUrls: false,
            rootpath: ":/a.com/"
        };
    </script>
    <script src="vendors/less.min.js" ="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body oncontextmenu="return false" ng-controller="gameCtrl" ng-cloak>

	<canvas id="renderSurface" ng-click="Game.setupMousePointer(true)" style="background: #000;" width="1600" height="1200"></canvas>

    <div>

        <!-- shareGame -->
        <div id="form-shareGame" class="form-normal visible_only_in_game_menu visible_in_game_menu" ng-if="shareGame.visible">
            <div>
                <span>{{lang.share_game_with_friends}}</span>
                <button class="btn2 btn-action" ng-click="shareGame.toggle()">×</button>
            </div>
            <input type="text" ng-value="shareGame.url">
            <button class="btn2 btn-action" ng-click="shareGame.copy()">{{lang.copy}}</button>
        </div>

        <!-- Corner buttons -->
        <div id="btns-pad">
            <button class="btn2 btn-success visible_only_in_game_menu visible_in_game_menu" ng-click="shareGame.toggle()">
                <span style="margin-right: 1em;">Invite</span>
                <img src="/media/icons-share.svg" style="height: 2em;" alt="Invite friend">
            </button>
            <a href="https://discord.gg/QQw2zadu3T" target="_blank" rel="noreferrer" class="btn2 btn-default visible_in_game_menu">
                <span style="margin-right: 1em;">Discord</span>
                <img src="/media/discord.png" style="height: 32px;" alt="Discord">
            </a>
        </div>

        <div id="main-pictures" class="flex0">
            <img src="/media/design/logo.webp" class="logo-others" ng-if="current_window.id != 'hello' && current_window.id != 'not_supported_browser'" alt="MadCraft">
            <img src="/media/design/art.webp" class="pic-art" ng-if="current_window.id == 'hello' || current_window.id == 'not_supported_browser'" alt="Art">
            <img src="/media/design/logo.webp" class="logo-main" ng-if="current_window.id == 'hello' || current_window.id == 'not_supported_browser'"  alt="MadCraft">
        </div>

        <!-- Hello -->
        <div id="form-hello" class="form-styled" ng-if="Game && current_window.id == 'hello'">
            <div class="flex0 flex-column">
                <button class="btn btn-main" ng-click="current_window.show('login')">
                    <span>{{lang.login}}</span>
                </button>
                <button class="btn btn-warning" ng-click="current_window.show('registration')">
                    <span>{{lang.registration}}</span>
                </button>
            </div>
        </div>

        <!-- Not supported browser -->
        <div id="form-hello" class="form-styled" ng-if="Game && current_window.id == 'not_supported_browser'">
            <div class="flex0 flex-column flex-center" style="background: rgb(254, 84, 115); padding: 1em; height: 130px; max-width: 80%; border-radius: 5px; text-align: center; font-size: 1.1em; justify-content: center;">
                <div>
                    The browser you are using is not supported.
                    <br/>Please use <a target="_blank" href="https://www.google.com/chrome/" style="color: white;">Chrome</a>
                </div>
            </div>
        </div>

        <!-- Login -->
        <div id="form-login" class="form-styled animate__animated animate__fadeIn" ng-if="Game && current_window.id == 'login'">

            <div class="flex0 flex-column">
                <div class="flex0 flex-column">
                    <label>
                        {{lang.enter_your_name}}:
                        <br><input type="text" ng-model="login.form.username" my-enter="login.submit()">
                    </label>
                    <label>
                        {{lang.enter_your_password}}:
                        <br><input type="password" ng-model="login.form.password" my-enter="login.submit()">
                    </label>
                    <button class="btn btn-main" ng-click="login.submit()" ng-class="{disabled: !login.isValid()}">
                        <span>{{lang.enter}}</span>
                    </button>
                    <button class="btn btn-danger" ng-click="current_window.show('hello')">
                        <span>{{lang.back}}</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Registration -->
        <div id="form-registration" class="form-styled animate__animated animate__fadeIn" ng-if="Game && current_window.id == 'registration'">
            <div class="flex0 flex-column">
                <div class="flex0 flex-column">
                    <label>
                        {{lang.enter_your_name}}:
                        <br><input type="text" ng-model="registration.form.username" my-enter="registration.submit()">
                    </label>
                    <label>
                        {{lang.enter_your_password}}:
                        <br><input type="password" ng-model="registration.form.password" my-enter="registration.submit()">
                    </label>
                    <button class="btn btn-main" ng-click="registration.submit()" ng-class="{disabled: !registration.isValid()}">
                        <span>{{lang.submit}}</span>
                    </button>
                    <button class="btn btn-danger" ng-click="current_window.show('hello')">
                        <span>{{lang.back}}</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Main menu -->
        <div id="main-menu" class="flex0 flex-column animate__animated animate__fadeIn" ng-if="Game && login.logged">

            <!-- Main menu -->
            <div ng-show="current_window.id == 'main'" class="form-doubles">

                <form>
                    <div>
                        <div class="my-worlds" ng-if="mygames.list.length > 0">
                            <div ng-repeat="item in mygames.list track by item.id">
                                <button class="btn" ng-click="StartWorld(item.guid)"><span>{{item.title}}</span></button>
                            </div>
                        </div>
                        <button class="btn btn-main" ng-click="newgame.open()">
                            <span>New game...</span>
                        </button>
                    </div>
                </form>

                <form class="flex-column flex-justify-start" ng-if="texture_pack.list">

                    <div class="form-profile">
                        <div class="form-title">
                            <span>@{{Game.App.session.username}}</span>
                            <button class="btn btn-danger btn-round" ng-click="App.logout()">&times;</button>
                        </div>
                        <div class="form-content">
                            <!-- Skin -->
                            <button class="btn" ng-click="skin.open()">
                                <span>🙂 Change skin</span>
                            </button>
                            <!-- Texture pack -->
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <button class="btn" ng-click="texture_pack.next()">Textures:<strong style="margin-left: .25em;">{{texture_pack.getCurrent().name}}</strong></button>
                            </div>
                            <!-- Generate mipmap -->
                            <div style="display: flex; align-items: center; justify-content: center; margin: .2em 0 .5em 0;">
                                <input type="checkbox" id="input-mipmap" ng-model="settings.form.mipmap" style="width: 20px; height: 20px; margin-right: 10px;"></input>
                                <label for="input-mipmap">Generate mipmap</label>
                            </div>
                            <!-- Render distance -->
                            <!-- <div style="display: flex; align-items: center; justify-content: center; margin: .2em 0 .5em 0;">
                                <div>
                                    <label for="input-render_distance">Render distance: <span style="width: 5em; display: inline-block;">{{settings.form.render_distance}}</span></label>
                                    <br><input type="range" id="input-render_distance" ng-model="settings.form.render_distance" min="2" max="16" style="width: 100%; height: 20px;"></input>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <div style="font-size: 14px; padding: 1em 0 2em 0;">
                        <h4 class="text-center">Commands:</h4>
                        <div>
                            <strong>WASD</strong> - Moving
                            <br><strong>F4</strong> - Set position as spawnpoint
                            <br><strong>R</strong> - Respawn
                            <br><strong>0-9</strong> - Select block
                            <br><strong>Left mouse button</strong> - Remove block
                            <br><strong>Right mouse button</strong> - Set block
                            <br><strong>Mouse wheel</strong> - Clone block under cursor
                            <br><strong>Ctrl, Double W</strong> - Running
                            <br><br>Other:
                            <!-- <br><strong>F7</strong> - Draw player model at current pos
                            <br><strong>F8</strong> - Teleport to random location
                            <br><strong>F9</strong> - Night (toggle) -->
                            <br><strong>F10</strong> - Change game mode
                        </div>
                    </div>
                </form>

            </div>

            <!-- Change skin -->
            <div ng-show="current_window.id == 'skin'" style="text-align: center;">
                <h4>SELECT SKIN:</h4>
                <div ng-repeat="k in skin.list">
                    <img ng-src="/media/skins/preview/{{k.id}}.png" ng-if="$index == skin.index" style="height: 350px;" alt="player skin">
                </div>
                <div style="padding-bottom: 1em;">
                    {{skin.index + 1}} / {{skin.list.length}}
                </div>
                <div class="btn-bar">
                    <button class="btn" ng-click="skin.prev()"><span>⬅️ Prev</span></button>
                    <button class="btn" ng-click="skin.next()"><span>Next ➡️</span></button>
                </div>
                <div class="btn-bar">
                    <button class="btn btn-main" ng-click="skin.save()">
                        <span>✅ Save</span>
                    </button>
                    <button class="btn btn-danger" ng-click="skin.close()">
                        <span>❌ Cancel</span>
                    </button>
                </div>
            </div>

            <!-- Loading -->
            <div ng-show="current_window.id == 'loading'" style="color: white; text-align: center; padding: 15px; background: rgba(255,255,255,.25); font-size: 24px; text-transform: uppercase;">
                Loading resources... <span ng-if="resource_loading_state">{{resource_loading_state.percent | number:0}} %</span>
            </div>

            <!-- New game -->
            <div ng-show="current_window.id == 'newgame'" style="text-align: center;">
                <h4>NEW GAME:</h4>
                <div>
                    Name:
                    <br><input type="text" ng-model="newgame.form.title" autofocus>
                </div>
                <div>
                    Seed:
                    <br><input type="text" ng-model="newgame.form.seed" autofocus>
                </div>
                <div>
                    <button class="btn" ng-click="newgame.generators.next()">
                        <span>Тип мира: {{newgame.generators.getCurrent().title}}</span>
                    </button>
                </div>
                <div class="btn-bar">
                    <button class="btn btn-main" ng-click="newgame.submit()" ng-class="{disabled: !newgame.form.title.trim()}">
                        <span>✅ Create</span>
                    </button>
                    <button class="btn btn-danger" ng-click="newgame.close()">
                        <span>❌ Cancel</span>
                    </button>
                </div>
            </div>

        </div>

        <!--
        <div style="position: absolute; right: 1em; bottom: 1em; z-index: 5000; background-color: #00000033; font-size: 10px; padding: 1em; border-radius: 1em;">
            <input type="range" min="-1.5707" max="1.5707" step=".01" value="0" ng-model="sunDir.value.x" ng-change="sunDir.apply()">
            <br><input type="range" min="-1.5707" max="1.5707" step=".01" value="0" ng-model="sunDir.value.y" ng-change="sunDir.apply()">
            <br><input type="range" min="-1.5707" max="1.5707" step=".01" value="0" ng-model="sunDir.value.z" ng-change="sunDir.apply()">
            <br><input ng-value="sunDir.getValue()">
        </div>
        -->

    </div>

    <script src="/vendors/vanilla-toast.min.js"></script>
    <div style="font-family: Ubuntu; position: fixed; opacity: 0;">1</div>

    <div id="loading" style="position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; z-index: 2; background: linear-gradient(180deg, #1C1149 0%, #322D6F 53.65%, #66408D 100%);"></div>

</body>
</html>
