/* Minecraft-like pixely font */
@font-face {
    font-family: minecraftia;
    src: url('/style/minecraftia.ttf');
}
canvas {
    background: #00000000;
}
body {
    background-color: darkgray !important;
}