/* Minecraft-like pixely font */
@font-face {
    font-family: minecraftia;
    src: url('/style/minecraftia.ttf');
}
body {
    /*
    background: url(../media/background.png);
    */
}
canvas {
    background: #00000000;
}